name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build cadc-web-util with Gradle
        run: cd cadc-web-util && ../gradlew -i clean build test javadoc checkstyleMain
      - name: Build cadc-web-token with Gradle
        run: cd cadc-web-token && ../gradlew -i clean build test
      - name: Build cadc-web-test with Gradle
        run: cd cadc-web-test && ../gradlew -i clean build test
